
/*********************cart****************/
.cart{
padding-top:25px;
padding-bottom:25px; 
border-bottom:1px solid #ffeded;
 }
.cart h4{
font-size:28px;
 }
.cart h5{
font-size:20px;
 }
.cart h6{
font-size:18px;
 }
 .mgt{
 margin-top:0; 
  }

.cart_3{
margin-top:20px; 
 }
.cart_3l h5{
 background: #fff5f5; 
 padding:13px 20px 10px 20px;
 border-bottom:1px solid #ffeded;
 }
.cart_3l1i2{
margin-top:10px; 
 }
.cart_3l1{
 border-bottom:1px solid #ffeded;
 padding-bottom:20px;
 margin-top:20px;
 }
.cart_3l1i2 .input-group{
width:23%;
float:left;
margin-right:15px;
 }
.cart_3l1i2 .input-group .form-control{
border-color:#ffeded;
box-shadow:none;
 }
.cart_3l1i2 .input-group .btn{
border-color:#ffeded;
 }
.cart_3l1i2 h6{
display:inline-block;
margin-right:13px;
font-weight:bold;
 }
.cart_3l1i2 .button{
 padding-top:8px!important;
 padding-bottom:8px!important;
 }
.cart_3l1i2 .button_1{
 padding-top:8px!important;
 padding-bottom:8px!important;
 }

.cart_3r .head_1{
 background: #fff5f5; 
 padding:13px 20px 10px 20px;
 border-bottom:1px solid #ffeded;
 text-align:center;
 }
.cart_3r .form-control{
margin-top:15px;
height:110px;
border-color:#ffeded; 
box-shadow:none; 
 }
.cart_3r1 .form-control{
margin-top:10px; 
border-color:#ffeded; 
box-shadow:none;
font-size:16px;
 }
.cart hr{
border-color:#ffeded; 
 }
.sub_hblog .input-group .form-control{
height: 51px;
 }
/*********************cart_end****************/


@media screen and (max-width : 767px){
.cart{
text-align:center; 
 }
.cart_2 h5{
text-align:center;  
 }
.cart_3l1i1{
text-align:left; 
 }
.cart_3l1i2{
text-align:left; 
 }
.cart_3l1i2 .input-group{
 width:70%;
float:none;
margin-top:10px;
 }
.cart_3l1i2 h6{
 margin-right:0;
 margin-top:10px!important;
 margin-bottom:5px;
 }

}

@media (min-width:768px) and (max-width:991px) {
.cart_3l1i2 .input-group{
 width:38%;
 margin-right:8px;
 }
.cart_3l1i2 .button{
padding:9px 7px!important; 
 }
.cart_3l1i2 .button_1{
padding:9px 7px!important; 
 }
.cart_3l1i2 h6{
margin-right:5px;
font-size:12px; 
 }
 }
@media (min-width:992px) and (max-width:1200px) {
.cart_3l1i2 .input-group{
 width:28%;
 margin-right:8px;
 }
.cart_3l1i2 h6{
margin-right:8px;
 }
  }
@media (min-width:1201px) and (max-width:1240px) {

 }